<configuration debug="false" scan="true" scanPeriod="1 minutes">
  <timestamp datePattern="HHmmss" key="seconds"/>
  <logger level="INFO" name="test"/>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <pattern>%7relative %-5level .\(%F:%L\) %msg%n</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.FileAppender" name="FILE">
    <file>api-${seconds}.log</file>
    <append>true</append>
    <encoder>
      <Pattern>%7relative %-5level %msg%n</Pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
  </root>

</configuration>
