<configuration debug="false" scan="true" scanPeriod="1 minutes">
  <timestamp key="seconds" datePattern="HHmmss"/>
  <logger name="test" level="INFO"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%7relative %-5level .\(%F:%L\) %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>api-${seconds}.log</file>
    <append>true</append>
    <encoder>
      <Pattern>%7relative %-5level %msg%n</Pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
  </root>

</configuration>
